<ul class="list-unstyled menu-position">
 
    <li class="link-menu" 
        *ngFor="let item of menuItems" 
        routerLinkActive="active"
        [class.disabled]="!item.activo">
        <a class="hover-link" [routerLink]="[item.ruta]">
            <i class="fas {{ item.icono }} mr-2"></i>
            {{ item.nombre }}
        </a>
    </li>
    

    <li *ngIf="loading" class="text-center">
        <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Cargando menú...</span>
        </div>
    </li>
</ul>
